.project-container {
  margin-bottom: 50px;
}

.project-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.project-wrapper img {
  margin-bottom: 40px;
}

.explor {
  float: left;
}

.drip {
  float: right;
}

.project {
  width: 45%;
  height: 300px;
  /* background-color: aqua;
  display: flex;
  border-radius: 15px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center; */
}

/* .project_content {
  width: 400px;
  height: 200px;
  background-color: azure;
} */
