/* .project-container {
  margin-bottom: 25px;
} */

.project-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.project-wrapper img {
  margin-bottom: 60px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.explor-holder {
  float: left;
  position: relative;
}

.explor {
  float: left;
  position: relative;
}

.explor-window {
  z-index: 2;
  width: 450px;
  position: absolute;
  right: -60%;
  top: 60%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.drip-holder {
  float: right;
  position: relative;
}

.drip {
  float: right;
  position: relative;
  z-index: 3;
}

.drip-window {
  width: 450px;
  position: absolute;
  left: -350px;
  top: 40%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.window-body {
  font-size: 15px;
}

.warning {
  color: red;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

.grow1 {
  transition: all 0.2s ease-in-out;
}
.grow1:hover {
  transform: scale(1.05);
}
