.main h1 {
  font-size: 55px;
  margin-bottom: 25px;
  letter-spacing: -5px;
}

.heading-info {
  width: 650px;
  font-size: 25px;
  margin-bottom: 25px;
  color: white;
}

.heading-sub-info {
  font-style: italic;
  font-size: 20px;
  color: #9ba2a5;
}

.main {
  margin-bottom: 50px;
}
